[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tableschema.r"]
	path = tableschema.r
	url = https://github.com/frictionlessdata/tableschema-r
	shallow = true
	registered = true
